{% block pagination %}
<nav>
    <ul id="pagination" class="pagination">
        <li id="previous-li" class="page-item">
            <a id="previous-a" class="page-link">Previous</a>
        </li>
        <li id="next-li" class="page-item">
            <a id="next-a" class="page-link">Next</a>
        </li>
    </ul>
</nav>
{% endblock %}