{% extends 'base.html.twig' %}

{% block title %}Posts{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div id="cards" class="row row-cols-1 row-cols-md-3 g-4">
        </div>
        <div class="row">
            <nav>
                <ul id="pagination" class="pagination">
                </ul>
            </nav>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('posts') }}
{% endblock %}