{% extends 'base.html.twig' %}
{% use 'users/_user_search.html.twig' %}
{% use 'pagination/_pagination.html.twig' %}

{% block title %}Users{% endblock %}

{% block body %}
    {{ block('search') }}
    <div>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">name</th>
                <th scope="col">email</th>
                <th scope="col">gender</th>
                <th scope="col">status</th>
            </tr>
            </thead>
            <template id="user-row-template">
                <tr>
                    <th scope="row" data-template="id"></th>
                    <td data-template="name"></td>
                    <td data-template="email"></td>
                    <td data-template="gender"></td>
                    <td data-template="status"></td>
                </tr>
            </template>
            <tbody id="users-table">
            </tbody>
        </table>
        {{ block('pagination') }}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('users') }}
{% endblock %}