{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">To use this application, click buttons in navbar</p>
    </div>
{% endblock %}
